<ion-view view-title="Criando Devedor">
<ion-content class="has-header">
<div class="card">
	<div class="list">
		<div class="item">
			<a ng-click="addImageLibrary()">
				<img src="{{debt.thumbnail}}" style="height: 96px;">
			</a>
			<button class="button" ng-click="addImageCamera()">
				<i class="icon ion-camera"></i>
			</button>		
			<button class="button" ng-click="addImageLibrary()">
				<i class="icon ion-images"></i>
			</button>
		</div>
		<label class="item item-input">
			<input type="text" placeholder="Nome" ng-model="debt.name"> 
		</label>
		<div class="item item-button-right">
			Dívida: {{debt.debtvalue | currency}}
			<button class="button" ng-click="addDebt()">
				<i class="icon ion-cash"></i>
			</button>
		</div>
		<!--<div class="item item-button-right">
			Itens: {{debt.items }}
			<button class="button" ng-click="addItem()">
				<i class="icon ion-cube"></i>
			</button>
		</div>-->
		<div class="row item">
			<div class="col"></div>
			<div class="col">
				<a class="button icon-left" ng-click="save()">
					<i class="icon ion-checkmark-circled"></i>
					Salvar
				</a>
			</div>
			<div class="col"></div>
		</div>
	</div>
</div>
</ion-content>
<!--<div style="position: absolute; bottom: 0px; width: 100%">
<div class="row">
	<div class="col"></div>
	<div class="col">
	<a class="button icon-left" ng-click="save()">
		<i class="icon ion-checkmark-circled"></i>
		Salvar
	</a>
	</div>
	<div class="col"></div>
</div>
</div> -->
</ion-view>